.container
  %h1
    Candidatos Pendientes
  -if @candidates_waiting.size>0
    .list-group
      -@candidates_waiting.each do |candidate_waiting|
        %a.list-group-item.list-group-item-info{:href => "candidates/#{candidate_waiting.id}"}
          .row
            .col-md-8
              =candidate_waiting.name
            .col-md-4
              =candidate_waiting.department.name
  -else
    %br
      %h4
        No hay candidatos pendientes
