%h1
  Candidatos finalizados
-@candidates_finalized.each do |candidate_finalized|
  =candidate_finalized.name
%h1
  Candidatos en espera
-@candidates_waiting.each do |candidate_waiting|
  =candidate_waiting.name