%h3
  Estimado miembro del Consejo Académico Interno

%p
  Como integrante del Consejo Académico Interno, se le solicita su opinión para la asignación de nivel
  y categoría de la nueva contratación, para ello ingrese al siguiente enlace:
  =link_to "contrataciones.cimav.edu.mx", "http://zeus.cimav.edu.mx:3000/candidates/#{@candidate.id}"

%br

%b Nombre:
=@candidate.name
%br
%b Departamento:
= @candidate.department.name
%br
%b Grado Académico:
= @candidate.degree
%br
%b Función:
= @candidate.function