#login-area.animated.flipInX
  .login-title= "CONTRATACIONES"
  .login-message= "Asignación de Nivel y Categoría"
  .login-methods
    #login-google-apps.login-method
      %button.btn.btn-round{'onclick' => "window.location = '/auth/google_oauth2';"}
        = "Accede con tu cuenta @cimav.edu.mx"
.clearfix