!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Contrataciones
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Contrataciones CIMAV
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toogle{:href =>'#',"data-toggle" => "dropdown"}
                Menú
                -if get_candidates_waiting >0
                  %span.badge
                    =get_candidates_waiting
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => '/pendientes'}
                    Candidatos pendientes
                    %span.badge
                      =get_candidates_waiting
                %li
                  =link_to 'Candidatos finalizados', '/finalizados'
                -if is_admin
                  %li
                    =link_to 'Nuevo candidato', new_candidate_path
                  %li
                    =link_to 'Usuarios', users_path
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/logout"}
                %span.glyphicon.glyphicon-log-out
                salir
    .container-fluid
      .row{style:'margin: 40px; margin-top: 80px'}
        = yield
